
<footer class="footer bg-light">
<div class="container">
    <a href="#">Impressum / Kontakt</a>
    <a href="#">Datenschutz</a>
    <p class="copyright">Copyright &copy; 2024 Andreas Huning </p> 
</div>
</footer>